﻿@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>@ViewBag.Title</title>

    @Styles.Render("~/LibCss")
</head>
<body class="container-fluid">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-8">
                <div class="row">
                    <h2>Guest Book</h2>
                </div>

                <div class="row">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-info" id="showFormButton">Add message</button>
                    </div>
                    <table class="table table-bordered table-striped" id="messagesTable">
                        <thead>
                        <tr>
                            <th class="ordered-field">UserName</th>
                            <th class="ordered-field">Email</th>
                            <th class="ordered-field">Created</th>
                            <th>HomePage</th>
                            <th>Text</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <ul id="pagination" class="pagination"></ul>
                </div>

                <div class="row">
                    <form class="form-horizontal" id="messageForm">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="UserName" id="UserName"name="UserName">
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email"id="Email"name="Email">
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="HomePage"id="HomePage"name="HomePage">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Text</span>
                            <textarea class="form-control" name="Text" cols="" rows=""id="Text"></textarea>
                        </div>
                    </form>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-info" id="addButton">Add</button>
                        <button type="button" class="btn btn-warning" id="clearButton">Clear</button>
                        <button type="button" class="btn btn-danger" id="cancelButton">Cancel</button>
                    </div>
                    <h4 id="alertMessage" class="hidden">Sorry, but we have some troubles on server side... Try to reload page or just write to developers</h4>
                </div>
            </div>
            <div class="col-md-4"></div>

        </div>
    </div>
</div>

@Scripts.Render("~/LibJs")
@Scripts.Render("~/AppJs")
</body>
</html>